{{ define "main" }}

{{ partial "jumbotron" (dict "imageUrl" "/img/teste.jpg" "title" "Projects") }}

<div class="mw7 center">
  <ul class="flex-ns flex-wrap mhn1-ns pa3">
    <a href="{{ .RelPermalink }}" class="no-underline pa3 bg-grey-2 br1 mb2 db raise w-100">
      <h2 class="f3 b lh-title mb1 primary">SofiaConnect</h2>
      <!-- <p class="mid-gray lh-title mb2">{{ .Date.Format "Mon, Jan 2, 2006" }}</p> -->
      <p class="mb0">The goal of our project is to integrate the deaf community into our society. We have 
        noticed that there is a great lack of Portuguese sign language content.</p>
      <p class="link b dib black mb0" href="https://sofiaconnect.pt">Read more →</p>
    </a>
  </ul>
  <!-- {{ partial "pagination" . }} -->
</div>

{{end}}
